html, body{
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

body{
    display: flex;
}

header{
    background-color: bisque;
    font-size: 40px;
    padding: 50px;
}

.left{
    background-color: rgb(128, 208, 235);
    flex: 0 0 250px;
}

.right{
    flex: 1;
}

a{
    border-bottom: solid 1px black;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: #4fb8db;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin: 15px;
}

.wybrane{
    background-color: #076d8f;
}

h4{
    margin-left: 15px;
}
