.xd{
    color: darkorchid;
    text-align: center;
}

.xd1{
    color: magenta;
    text-align: center;
}

.xd2{
    text-align: center;
    color: navy;
}

.xd3{
    color: deeppink;
    text-align: center;
}